@charset "utf-8";
/* CSS Document */

*{
 	margin: 0; 
 	padding: 0;
}

div{
	font-size: 11px;
	color: #4c4c4c;
}

h3{
	font-size: 12px;
}

td{
	font-size: 11px;
}

a{
	outline: none;
	text-decoration: none;
}



.explanation{
	background-color: #CCFFCC;
	padding: 20px;
	float: left;
	margin-left: 50px;
	width: 300px;
}


input.text{
	border: 1px solid orange;
	width: 150px;
	background-color: #FFFFFF;
}

.errorExplanation{
	font-weight: bold;
	color: red; 
}

#picWrapper{
	position: absolute; 
	width: 580px;
	min-height: 600px;
	background-color: #FFFFFF;
	border: 1px solid grey;
	z-index: 1000;
	left: 50%;
	margin-left: -290px; 
	margin-top: 100px;
	padding: 20px;
	#display: none; 
}

.imageHolder{
	#margin: 10px;
	border-bottom: 1px solid grey;
}

#imageCradle{
	height: 170px;
	width: 250px;
	float: left;
    #border: 1px solid blue;	
}

#imageCradle img{
	margin-top: 10px;
}

.imageForm{
	height: 170px;
	width: 300px;
	margin: 10px 0px 0px 20px;
	#border: 1px solid blue; 
	float: left;
	text-align: left;
}

#imageForm input{
	margin: 10px 0px 0px 10px;
	display: inline;
	border: 1px solid blue;
}

